form{
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 120%;
}

.form-group{

height: 10%;

}

th{
    border: 1px solid;
padding: 25px;

}

table{
    margin-top: 5%;
    border: 2px solid;
}

