form{
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150%;
}

.form-group{

height: 10%;

}

th{
    border: 1px solid;
padding: 25px;
border-collapse: collapse;

}

table{
    margin-top: 5%;
    border: 2px solid;
}

.foodItems .form-check-label{

height:100px;
width: 100px;
transform: scale(6.5);

}